<%
// Decodes encoded HTML (https://stackoverflow.com/a/72959145/12294437)
const unicodeDecode = (text) => {
  const decoded = text.replace(/&#x([0-9a-f]+);/gi, (_, code) =>
    String.fromCharCode(parseInt(code, 16))
  ).replace(/&(lt|gt|quot|amp);/gi, (_, type) => {
    if (type === 'gt') return '>';
    if (type === 'lt') return '<';
    if (type === 'quot') return '"';
    if (type === 'amp') return '&';
  });
  return decoded;
};
%>
<!DOCTYPE html>

<html lang="en">
  <%- include("partials/head.ejs") %>

  <body>
    <div id="root">
      <%- include("partials/nav.ejs") %>
      <main>
        <div class="content">
          <% if (!locals.messages.length) { %>
            <p>There are currently no messages.</p>
          <% } else { %>
            <% if (locals.currentUser) { %>
              <% if (!locals.canViewAuthorAndDate) { %>
                <p class="mb-16"><a href="/join-club">Become</a> a member to view the authors and when the messages were posted!</p>
              <% } %>
            <% } else { %>
              <p class="mb-16"><a href="/sign-up">Sign up</a> and become a member to view the authors and when the messages were posted!</p>
            <% } %>
            <ul class="message-list">
              <% messages.forEach((message) => { %>
                <li class="message-item">
                  <h3 class="message-title"><%= unicodeDecode(message.title) %></h3>
                  <% if (locals.canViewAuthorAndDate) { %>
                    <div class="message-author-and-date">
                      <span class="message-author"><%= message.user.username %></span>
                      on
                      <span class="message-date"><%= message.formattedDate %></span>
                    </div>
                  <% } %>
                  <% if (message.content) { %>
                    <pre class="message-content"><%= unicodeDecode(message.content) %></pre>
                  <% } %>
                  <% if (locals.canDeleteMessages) { %>
                    <form class="message-delete-btn-container" action="/message/<%= message._id %>/delete" method="post">
                      <button class="message-delete-btn">Delete message</button>
                    </form>
                  <% } %>
                </li>
              <% }); %>
            </ul>
          <% } %>
        </div>
      </main>
      
      <%- include('partials/footer.ejs') %>
    </div>
  </body>
</html>
