<!DOCTYPE html>

<html lang="en">
  <%- include("partials/head.ejs") %>

  <body>
    <%- include("partials/nav.ejs") %>

    <main>
      <h1>Create a new account</h1>

      <form class="form" method="post">
        <div class="form-group">
          <label for="firstname">First name *</label>
          <input type="text" name="firstname" id="firstname" value="<%= locals.firstname %>" />
          <% if (locals.errors && locals.errors.firstname) { %>
            <p><%= errors.firstname.msg %></p>
          <% } %>
        </div>
        <div class="form-group">
          <label for="lastname">Last name *</label>
          <input type="text" name="lastname" id="lastname" value="<%= locals.lastname %>" />
          <% if (locals.errors && locals.errors.lastname) { %>
            <p><%= errors.lastname.msg %></p>
          <% } %>
        </div>
        <div class="form-group">
          <label for="username">Username *</label>
          <input type="text" name="username" id="username" value="<%= locals.username %>" />
          <% if (locals.errors && locals.errors.username) { %>
            <p><%= errors.username.msg %></p>
          <% } %>
          <p>Your username is used for logging in.</p>
        </div>
        <div class="form-group">
          <label for="password">Password *</label>
          <input type="password" name="password" id="password" value="<%= locals.password %>" />
          <% if (locals.errors && locals.errors.password) { %>
            <p><%= errors.password.msg %></p>
          <% } %>
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirm password *</label>
          <input type="password" name="confirmPassword" id="confirm-password" value="<%= locals.confirmPassword %>" />
          <% if (locals.errors && locals.errors.confirmPassword) { %>
            <p><%= errors.confirmPassword.msg %></p>
          <% } %>
        </div>
        <p>* means required</p>
        <button>Sign Up</button>
      </form>
    </main>
  </body>
</html>
